@page "/FileTransferTest"
@using System.IO
@inject HttpClient client
@inject IJSRuntime jsRuntime

<h1>파일 업로드 확인</h1>

<div class="card">
    <div class="card-header">Upload</div>
    <div class="card-body">
        <div>
            <InputFile OnChange="FileOnChange" accept="image/*" />
        </div>
        @if (FileList?.Count > 0)
        {
            foreach (var file in FileList)
            {
                <div>
                    @file.Name (@file.Size.ToString("#,0,")kb)
                </div>
                <div>
                    <button class="btn btn-sm btn-primary" @onclick="FileUpload">Upload Test</button>
                </div>

                if (ImgUrl != null)
                {
                    <div>
                        <img src="@ImgUrl" />
                    </div>
                }
            }
        }
    </div>
</div>

<div class="card">
    <div class="card-header">Download</div>
    <div class="card-body">
        <div><button class="btn btn-sm btn-primary" @onclick="FileDownload">Download Test</button></div>
        <div>@DownloadString</div>
    </div>
</div>
@code {
    IReadOnlyList<IBrowserFile> FileList { get; set; }
    string ImgUrl { get; set; }
    string DownloadString { get; set;}
 
    
    private void FileOnChange(InputFileChangeEventArgs e)
    {
        FileList = e.GetMultipleFiles();
    }

    async Task FileUpload()
    {
        foreach (var file in FileList)
        {
            byte[] byteArr = await file.OpenReadStream().ToByteArray();

            string mimeType = MimeMapping.MimeUtility.GetMimeMapping(file.Name);

            if (mimeType.IndexOf("image/") == 0)
            {
                ImgUrl = $"data:{mimeType};base64,{Convert.ToBase64String(byteArr)}";
            }
        }

        //WebApi 를 통한 업로드 작업은 여기서
    }

    void FileDownload()
    {
        //JSRuntime 을 이용해서 Javascript 로 다운로드 처리해야함

        var bytes = System.Text.Encoding.UTF8.GetBytes("test 테스트 test");

        //요걸 어떻게 공통모듈화 한다.....??

        string file_name = "test.txt";
        string mime_type = "application/octet-stream";
        
        //bytes 는 base64 로 자동으로 변환되네
        jsRuntime.InvokeAsync<string>("FileSave", bytes, file_name, mime_type);

        DownloadString = Convert.ToHexString(bytes);
    }
}